.OuterDiv {
  display: flex;
  flex-direction: row;
  background-color: #FFFF00;
  padding: 14px 16px;
  font-size: 17px;

}



.topnavcenter {
  ms-align-self: center;
  align-self: center;

}

/* Style the links inside the navigation bar */
